* {
  margin: 0;
  padding: 0;
}


.nav {
  background-color: rgb(215, 146, 55);
  height: 10vh;
  width: 100%;
  color: rgb(225, 228, 231);
  align-content: center;
  text-align: center;
}

.container {
  position: relative;
  top: 15vh;
  display: flex;
  justify-content: space-evenly;
  
}

.box1 {
  width: 10vw;
  height: 13vh;
  align-content: center;
  text-align: center;
  border: 2px solid;
 
}
.box2 {
  width: 10vw;
  height: 13vh;
  align-content: center;
  text-align: center;
  border: 2px solid;
}
.box3 {
  width: 10vw;
  height: 13vh;
  align-content: center;
  text-align: center;
  border: 2px solid;
}
.box4 {
  width: 10vw;
  height: 13vh;
  align-content: center;
  text-align: center;
  border: 2px solid;
}

form {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 30vh;
}

#name {
  width: 400px;
  height: 30px;
  text-align: center;
}

#btn {
  width: 78px;
  height: 35px;
  background-color: #a0653e;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  color: azure;
  border: none;
}

#btn:hover {
  background-color: #ab4242;
}

